body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* L = Light, R = Regular, S = SemiBold, B = Bold */
@font-face {
  font-family: popL;
  src: url(./assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: popR;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popS;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: popB;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
